body {
  font-family: Arial, sans-serif;
  background-color: #040f1a;
}

.container {
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  background:white;
  border-radius: 10px;
  border:black;
}

h1 {
  text-align: center;
}

label {
  display: block;
  margin-top: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

button {
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}
